.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.CompanyCard, 
.JobCard  {
  border: 1px solid black;
  margin: 5px;
  max-width: 500px;
}

.CompanyCard-a {
  text-decoration: none;
  color: black;
}


.Companies
.Company {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Search {
  width: 500px;
}